[Unit]
Description=Catboard port 7000

[Service]
WorkingDirectory=/home/ubuntu/src/catboard
ExecStart=/home/ubuntu/src/catboard/env/bin/python /home/ubuntu/src/catboard/app.py --port 7777

[Install]
WantedBy=default.target
