{% extends 'base.jinja2' %}

{% block head %}
  <script src="/static/board.js" defer></script>
{% endblock %}

{% block style %}
  .dragging { opacity: 0.1; }
  .draggable:hover { opacity: 0.8; }
  .lane { background-color: #eee; }
{% endblock %}

{% block content %}

  <header class="w3-container w3-white">
    <h2>
      <a href="{{ url_for("boards") }}"><i class="fa fa-arrow-left fa-fw"></i></a> {{ board.name }}
    </h2>
  </header>

  <div class="w3-main w3-white" style="padding-bottom: 100px;">
    {% for lane in list_reorder(board.lanes,board.lanes_sorted) if (show_closed or not lane.closed) %}
      <div id="lane_{{ lane.id }}" class="lane w3-container {{ lane.color }} w3-center">
        <p style="padding: 0px; margin: 2px"><a style="text-decoration: none;" href="{{ url_for("lane_edit", lane_id=lane.id) }}">{{ lane.name }}</a></p>
      </div>
      <div class="w3-row">
        {% for col in list_reorder(lane.columns, lane.columns_sorted) if (show_closed or not col.closed) %}
          <div id="{{ col.id }}" class="container w3-col m2 column">
            <div class="w3-container w3-white w3-center">
              <p style="padding: 0px; margin: 2px">
                <a style="text-decoration: none;" href="{{ url_for('column_edit', column_id=col.id) }}">
                  {{ col.name }}
                </a>
              </p>
            </div>
            {% for item in col.items if (show_closed or not item.closed) %}
              <a style="text-decoration: none;" href="/item/{{ item.id }}">
                <div id="{{ item.id }}" draggable="true" class="item draggable w3-panel {{ item.color }} " style="padding-left: 2px; padding-right: 2px; margin: 1px; margin-bottom: 2px;">
                  <p style="white-space: nowrap; overflow:hidden; text-overflow:hidden; padding: 0px; margin: 2px">
                    <strong>#{{ item.id }}</strong>{% if item.assigned %} - {{ item.assigned }}{% endif %}<br/>
                    <span style="{% if item.closed %}text-decoration: line-through{% endif %}">{{ item.name }}</span>
                  </p>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <br/>
    {% endfor %}
  </div>

{% endblock %}
