{% extends 'base.jinja2' %}
{% block content %}

  <header class="w3-container w3-white">
    <h2>
      <a href="{{ url_for("boards") }}"><i class="fa fa-arrow-left fa-fw"></i></a> {{ board.name }}
    </h2>
  </header>

  <div class="w3-main w3-white" style="padding-bottom: 200px;">
    {% for lane in board.lanes %}
      <div class="w3-container {{ lane.color }} w3-center">
	<p style="padding: 0px; margin: 2px"><a style="text-decoration: none;" href="{{ url_for("lane_edit", lane_id=lane.id) }}">{{ lane.name }}</a></p>
      </div>
      <div class="w3-row">
	{% for col in lane.columns %}
	  <div class="w3-col l2">
	    <div class="w3-container w3-white w3-center" style="">
	      <p style="padding: 0px; margin: 2px">
		<a style="text-decoration: none;" href="{{ url_for('column_edit', column_id=col.id) }}">
		  {{ col.name }}
		</a>
	      </p>
	    </div>
	    {% for item in col.items if (show_closed or not item.closed) %}
	      <a style="text-decoration: none;" href="/item/{{ item.id }}">
		<div class="w3-small w3-panel {{ item.color }} " style="padding-left: 2px; padding-right: 2px; margin: 1px; margin-bottom: 2px;">
		  <p style="white-space: nowrap; overflow:hidden; text-overflow:hidden; padding: 0px; margin: 2px">
		    <strong>#{{ item.id }}</strong> - {{ item.assigned }}<br/>
		    <span style="{% if item.closed %}text-decoration: line-through{% endif %}">{{ item.name }}</span>
		  </p>
		</div>
	      </a>
	    {% endfor %}
	  </div>
	{% endfor %}
      </div>
      <br/>
    {% endfor %}
  </div>

{% endblock %}
