{% extends 'base.jinja2' %}

{% block content %}

  <header class="w3-container w3-indigo">
    <h2><a href="{{ url_for('boards') }}"><i class="fa fa-arrow-left fa-fw"></i></a> Edit {{ board.name }}</h2>
  </header>

  {% if board.lanes %}
    <div class="w3-container w3-panel w3-pale-red">
      <p>Close or open lanes:</p>
      <p>
        {% for lane in board.lanes %}
          <a href="{{ url_for('lane_close_toggle', lane_id=lane.id) }}"><button class="w3-btn w3-red">
              {% if lane.closed %}Open{% else %}Close{% endif %}
              {{ lane.name }}

          </button></a>
        {% endfor %}
      </p>
    </div>
  {% endif %}

  <div class="w3-container w3-pale-yellow w3-panel">
    <h3>Rename board</h3>
    <p>
      <form method="POST">
        <label>New board name:</label>
        <input class="w3-input" type="text" name="new_board_name" value="{{ board.name }}"/>
    </p>
    <p>
      <button class="w3-input w3-blue" type="Submit" name="Submit" value="Submit_rename_board">Submit</button>
    </p>
    </form>
  </div>

  <div class="w3-container w3-pale-yellow w3-panel">
    <h3>Create new lane</h3>
    <p>
      <form method="POST">
        <label>New lane name:</label>
        <input class="w3-input" type="text" name="new_lane_name"/>
    </p>
    <p>
      <button class="w3-input w3-blue" type="Submit" name="Submit" value="Submit_new_lane">Submit</button>
    </p>
    </form>
  </div>

  <div class="w3-container w3-pale-yellow w3-panel">
    <h3>Lane sorting</h3>
    <p>
      <form method="POST">
        <label>Comma separated lane order:</label>
        {% if not board.lanes_sorted %}
          <input class="w3-input" type="text" name="lanes_sorted" value="{{ lane_names|join(', ') }}"/>
        {% else %}
          <input class="w3-input" type="text" name="lanes_sorted" value="{{ lanes_sorted|join(', ') }}"/>
        {% endif %}
    </p>
    <p>List of all lanes: {{ lane_names|join(', ') }}</p>
    <p>
      <button class="w3-input w3-blue" type="Submit" name="Submit" value="Submit_lanes_sorted">Submit</button>
    </p>
    </form>
  </div>

{% endblock %}
