{% extends 'base.jinja2' %}

{% block content %}

  <header class="w3-container {{ item.color }}">
    <h2><a href="{{ url_for('board', board_id=item.column.lane.board.id) }}"><i class="fa fa-arrow-left fa-fw"></i></a> {{ item.name }}</h2>
  </header>

  <div class="w3-container w3-white w3-panel">
    <p>
      {{ item.column.lane.board.name }} - {{ item.column.lane.name }} - {{ item.column.name }}
    </p>
    <p>Assigned to: {{ item.assigned }}</p>
  </div>
  
  <div class="w3-container w3-white">
    <p>Move to column:</p>
    <p>
      {% for column in item.column.lane.columns %}
	<a class="w3-btn {% if column.id == item.column.id %}w3-light-gray{% else %}w3-blue{% endif %} w3-round" href="{{ url_for('item_move', item_id=item.id, column_id=column.id) }}">
	  {{ column.name }}
	</a>
      {% endfor %}
    </p>
  </div>

  <div class="w3-container w3-white">
    <p>Actions:</p>
    <p>
      <a class="w3-btn w3-blue w3-round" href="{{ url_for('item_close_toggle', item_id=item.id) }}">
	{% if item.closed %}Set Open{% else %}Set Closed{% endif %}
      </a>
    </p>
  </div>

  <div class="w3-container w3-white">
    <p>Set color:</p>
    <p>
      {% for color in colors %}
	<a class="w3-btn {{ color }} w3-round" href="{{ url_for('item_color', item_id=item.id, color=color) }}">
	  {{ color[3:].replace("-", " ")|capitalize }}
	</a>
      {% endfor %}
    </p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-half w3-pale-yellow w3-panel">
      <h3>Change name:</h3>
      <p>
	<form method="POST">
	  <label>New name:</label>
	  <input class="w3-input" type="text" name="new_name"/>
      </p>
      <p>
	<button class="w3-input w3-blue" type="Submit" name="Submit" value="Submit_change_name">Submit</button>
      </p>
      </form>
    </div>

    <div class="w3-half w3-pale-yellow w3-panel">
      <h3>Change assignment:</h3>
      <p>
	<form method="POST">
	  <label>New assignment:</label>
	  <input class="w3-input" type="text" name="new_assign_name"/>
      </p>
      <p>
	<button class="w3-input w3-blue" type="Submit" name="Submit" value="Submit_change_assign">Submit</button>
      </p>
      </form>
    </div>

  </div>

{% endblock %}
