{% extends 'base.jinja2' %}

{% block style %}
  li:hover { opacity: 0.6; }

  .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
{% endblock %}

{% block content %}

  <header class="w3-container {{ item.color }}">
    <h2><a href="{{ url_for('board', board_id=item.column.lane.board.id) }}"><i class="fa fa-arrow-left fa-fw"></i></a> {{ item.name }}</h2>
  </header>

  <div class="w3-container w3-white">
    <p>
      {% for column in item.column.lane.columns %}
        <a style="line-height: 1; margin: 1px;" class="w3-btn {% if column.id == item.column.id %}w3-light-gray{% else %}w3-blue{% endif %} w3-round" href="{{ url_for('item_move', item_id=item.id, column_id=column.id) }}">
          {{ column.name }}
        </a>
      {% endfor %}
    </p>
    <a style="line-height: 1; margin: 1px;" class="w3-btn w3-blue w3-round" href="{{ url_for('item_close_toggle', item_id=item.id) }}">
      {% if item.closed %}Set Open{% else %}Set Closed{% endif %}
    </a>
    <p>
      {% for color in colors %}
        <a style="line-height: 1; margin: 1px;" class="w3-btn {{ color }} w3-round" href="{{ url_for('item_color', item_id=item.id, color=color) }}">
          {{ color[3:].replace("-", " ")|capitalize }}
        </a>
      {% endfor %}
    </p>
  </div>

  <div class="w3-half">
    <form method="POST">
      <div class="w3-half w3-container w3-pale-yellow">
        <p>
          <label>Name:</label>
          <input class="w3-input" type="text" value="{{ item.name }}" name="new_name"/>
        </p>
      </div>

      <div class="w3-half w3-container w3-pale-yellow">
        <p>
          <label>Assignment:</label>
          <input class="w3-input" type="text" value="{{ item.assigned }}" name="new_assign_name"/>
        </p>
      </div>

      <div class="w3-container w3-panel w3-pale-yellow">
        <p>
          <label>Description:</label>
          <textarea id="description" rows="25" class="w3-input" type="text" name="new_description"/>{% if item.description %}{{ item.description }}{% endif %}</textarea>
       </p>
       <p>
         <button type="button" class="w3-btn w3-blue" onclick="insert_date()">
           {{ icon('calendar') }} Insert Date
         </button>
         <button class="w3-btn w3-green" name="Submit" value="Submit_print">
           {{ icon('print') }} Save & View
         </button>
         <button class="w3-btn w3-blue" name="Submit" value="Submit_save">
           {{ icon('save') }} Save
         </button>
       </p>
      </div>
    </form>
  </div>
<div class="w3-half">
  {% if rels %}
    <div class="w3-container w3-white w3-panel">

      <h3>Sub-tasks</h3>
      <ul class="w3-ul">
        {% for rel in rels %}
          <li class="w3-pale-blue">
            <a style="text-decoration: none;" href="{{ url_for('item', item_id=rel.item2.id) }}">
              {{ icon('file-text-o') }} #{{ rel.item2.id }}
              {{ rel.item2.name }}&nbsp;
              <strong>{{ rel.item2.column.name }}</strong>&nbsp;
            </a>
          </li>
        {% endfor %}
        <br/>
      </ul>
    </div>
  {% endif %}
  <div class="w3-container w3-white w3-panel">
    <h3>History</h3>
    <ul class="w3-ul">
      {% for t in item.transitions|reverse if t.from_column != t.to_column %}
        {% if t.from_column %}
          {% if t.from_column.id < t.to_column.id %}
            <li class="w3-pale-green">{{ icon('calendar') }} {{ nice_time(t.epochtime) }} &nbsp; <strong>{{ t.from_column.name }}</strong> &nbsp; {{ icon('arrow-right') }} &nbsp; <strong>{{ t.to_column.name }}</strong></li>
          {% else %}
            <li class="w3-pale-red">{{ icon('calendar') }} {{ nice_time(t.epochtime) }} &nbsp; <strong>{{ t.to_column.name }}</strong> &nbsp; {{ icon('arrow-left') }} &nbsp; <strong>{{ t.from_column.name }}</strong></li>
          {% endif %}
        {% else %}
          <li class="w3-pale-blue">{{ icon('calendar') }} {{ nice_time(t.epochtime) }} &nbsp; {{ icon('star') }} &nbsp; <strong>{{ t.to_column.name }}</strong></li>
        {% endif %}
      {% endfor %}
      <br/>
    </ul>
  </div>
  {% if links %}
    <div class="w3-container w3-white w3-panel">
      <h3>Links</h3>
      <ul class="w3-ul">
        {% for link in links %}
          <li class="w3-pale-green truncate">
            <a rel="noreferrer nofollow" target="_blank" style="text-decoration: none;" href="{{ link }}">
              {{ icon('external-link-square') }} {{ link }}
            </a>
          </li>
        {% endfor %}
        <br/>
      </ul>
    </div>
  {% endif %}
</div>



{% endblock %}

{% block script %}
<script>
 // scroll down
 var textarea = document.getElementById('description');
 textarea.scrollTop = textarea.scrollHeight;

 // insert date at cursor
 function typeInTextarea(newText, el = document.activeElement) {
     const start = el.selectionStart
     const end = el.selectionEnd
     const text = el.value
     const before = text.substring(0, start)
     const after  = text.substring(end, text.length)
     el.value = (before + newText + after)
     el.selectionStart = el.selectionEnd = start + newText.length
     el.focus()
 }

 function insert_date() {
     var today = new Date();
     var dd = String(today.getDate()).padStart(2, '0');
     var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
     var yyyy = today.getFullYear();
     var hhh = String(today.getHours()).padStart(2, '0');
     var mmm = String(today.getMinutes()).padStart(2, '0');

     today = mm + '/' + dd + '/' + yyyy + ' ' + hhh + ':' + mmm
     typeInTextarea(today, document.getElementById('description'))
 }
// add w3 table classes to markdown generated tables
window.onload = function() {
    var tables = document.getElementsByTagName("table"),
    len = tables !== null ? tables.length : 0,
    i = 0;
    for(i; i < len; i++) {
        tables[i].className += " w3-table w3-border w3-hoverable w3-bordered";
    }
}
</script>
{% endblock %}
