{% extends 'base.jinja2' %}
{% block content %}
<header class="w3-container {{ item.color }}">
    <h2><a href="{{ url_for('item', item_id=item.id) }}">{{ icon('arrow-left') }}</a> {{ item.name }}</h2>
</header>

<div style="padding-bottom: 30px;" class="w3-container w3-white w3-panel">
    {{ to_md(item.description) }}
</div>
{% endblock %}

{% block script %}
window.onload = function() {
    // add w3 table classes to markdown generated tables
    var tables = Array.from(document.getElementsByTagName("table"));
    tables.forEach((t) => {
        t.className += " w3-table w3-border w3-hoverable w3-bordered";
    });
}
{% endblock %}
