{% extends 'base.jinja2' %}

{% block content %}

  <header class="w3-container {{ item.color }}">
    <h2><a href="{{ url_for('board', board_id=item.column.lane.board.id) }}"><i class="fa fa-arrow-left fa-fw"></i></a> {{ item.name }}</h2>
  </header>

  <div class="w3-container w3-white">
    <p>
      {% for column in item.column.lane.columns %}
	<a style="line-height: 1; margin: 1px;" class="w3-btn {% if column.id == item.column.id %}w3-light-gray{% else %}w3-blue{% endif %} w3-round" href="{{ url_for('item_move', item_id=item.id, column_id=column.id) }}">
	  {{ column.name }}
	</a>
      {% endfor %}
      </p>
  </div>

  <div class="w3-container w3-white">
      <a style="line-height: 1; margin: 1px;" class="w3-btn w3-blue w3-round" href="{{ url_for('item_close_toggle', item_id=item.id) }}">
	{% if item.closed %}Set Open{% else %}Set Closed{% endif %}
      </a>
  </div>

  <div class="w3-container w3-white">
    <p>
      {% for color in colors %}
	<a style="line-height: 1; margin: 1px;" class="w3-btn {{ color }} w3-round" href="{{ url_for('item_color', item_id=item.id, color=color) }}">
	  {{ color[3:].replace("-", " ")|capitalize }}
	</a>
      {% endfor %}
      </p>
  </div>

  <div class="w3-half">
  <form method="POST">
    <div class="w3-half w3-container w3-pale-yellow">
      <p>
	<label>Name:</label>
	<input class="w3-input" type="text" value="{{ item.name }}" name="new_name"/>
      </p>
    </div>

    <div class="w3-half w3-container w3-pale-yellow">
      <p>
	<label>Assignment:</label>
	<input class="w3-input" type="text" value="{{ item.assigned }}" name="new_assign_name"/>
      </p>
    </div>

    <div class="w3-container w3-panel w3-pale-yellow ">
      <p>
	<label>Description:</label>
<textarea rows=10 class="w3-input" type="text" name="new_description"/>{% if item.description %}{{ item.description }}{% endif %}</textarea>
</p>
<p>
       <button class="w3-btn w3-blue" type="Submit" name="Submit" value="Submit"><i class="fa fa-save fa-fw"></i> Save</button>
     </p>
</div>
</form>
</div>
  <div class="w3-half">
<div class="w3-container w3-white w3-panel">
  <h3>History</h3>
  <ul class="w3-ul">
    {% for t in item.transitions|reverse if t.from_column != t.to_column %}
      {% if t.from_column %}
	{% if t.from_column.id < t.to_column.id %}
	  <li class="w3-pale-green">{{ icon('calendar') }} {{ nice_time(t.epochtime) }} &nbsp; <strong>{{ t.from_column.name }}</strong> &nbsp; {{ icon('arrow-right') }} <strong>{{ t.to_column.name }}</strong></li>
	{% else %}
	  <li class="w3-pale-red">{{ icon('calendar') }} {{ nice_time(t.epochtime) }} &nbsp; <strong>{{ t.to_column.name }}</strong> &nbsp; {{ icon('arrow-left') }} &nbsp; <strong>{{ t.from_column.name }}</strong></li>
	  {% endif %}
      {% else %}
	<li class="w3-pale-blue">{{ icon('calendar') }} {{ nice_time(t.epochtime) }} &nbsp; {{ icon('star') }} &nbsp; <strong>{{ t.to_column.name }}</strong></li>
      {% endif %}
    {% endfor %}
    <br/>
  </ul>
</div>
</div>



{% endblock %}
